/* Base */

/*
???
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: 'Source Serif Pro', serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}*/

/* Navbar */

.site-menu > li {
  display: inline-block;
}

header {

}

header a{
  color: black;
}

header nav{
  font-family: 'Source Serif Pro', serif;
}

.navigation-1{

}

.navigation-2{

}

/* Slider */
.owl-carousel{
  width: 100%;
  overflow: hidden;
}

.item{
  height: 28rem;
  background-size:cover
}

/*Thumbnails */

.overlap-section {
  margin-top: -12%;
  position: relative;
  z-index: 9; 
}

.unit-1 img{
  border-radius: 50%;
}
